.outer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.main_container {
  margin: auto;
  width: 95%;
  height: 95vh;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}
