.outer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.main_container {
  width: calc(100% - 20px);
  min-height: 92vh;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
}

.main_title {
  text-align: center;
  margin-top: 120px;
  font-size: 25px;
  font-weight: 1000;
}

.inner_container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
  margin: 30px auto;
}

.button_box {
  width: calc(100% - 20px);
  border: 1px solid black;
  padding: 10px 30px;
  margin: 0 30px;
}

.title {
  display: flex;
  gap: 30px;

  > p {
    margin: auto 0;
    width: 80px;
    min-width: 80px;
  }
}

.button {
  display: flex;
  gap: 10px;

  justify-content: center;
}

.project_outer_container {
  overflow-x: auto;
  height: 100vh;
}

.project_container {
  margin-top: 80px;
  padding: 0 30px;
}

.component_box {
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.top_bar {
  border: 1px solid white;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  padding: 5px 30px;
  gap: 30px;

  button {
    margin: auto 0;
  }

  .invite_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .invite_input {
    margin-top: 5px;
  }
}

.component_div {
  height: calc(100% - 30px);
}

.data {
  margin: 10px 0 0 10px;
}

.calendar_title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.reactCalendar {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: Arial, sans-serif;
}

:global(.react-calendar__navigation) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

:global(.react-calendar__navigation button) {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

:global(.react-calendar__navigation button:disabled) {
  color: #ccc;
}

:global(.react-calendar__navigation button:hover) {
  color: #007bff;
}

:global(.react-calendar__tile) {
  padding: 10px 5px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

:global(.react-calendar__tile--active:not(.react-calendar__tile--now)) {
  background-color: transparent !important;
  color: #007bff !important;
  position: relative !important;
}

:global(.react-calendar__tile--active:not(.react-calendar__tile--now)::before) {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 51%;
  transform: translate(-50%, -100%);
  width: 6px;
  height: 6px;
  background-color: #007bff;
  border-radius: 50%;
}

:global(.react-calendar__tile--now) {
  background-color: #d0e5ff !important;
  color: #000 !important;
  border-radius: 60px;
}

:global(.react-calendar__tile):hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}

:global(.react-calendar__month-view__weekdays) {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.todo_title {
  display: flex;
  justify-content: left;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

.todo_list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
